@import "../../assets/scss/app";

.app {
  position: relative;
  overflow: hidden;
  padding-top: 80px;
  background: #000;
  transition: $duration;
  box-sizing: border-box;

  @include desktop {
    padding-top: 118px;
  }

  &_burgerMenu {
    height: 100vh;
  }

  .cursorBall {
    @include onlyDesktop();
    pointer-events: none;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: #FFF;
    border-radius: 50%;
  }

  .back1 {
    position: absolute;
    transition: $duration;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../../assets/png/ellipse.png);
    background-repeat: repeat;
    opacity: 0.8;
  }

  .back2 {
    position: absolute;
    transition: $duration;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../../assets/png/ellipse2.png);
    background-repeat: repeat;
    opacity: 0.8;
  }

  .back3 {
    position: absolute;
    transition: $duration;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(../../assets/png/ellipse3.png);
    background-repeat: repeat;
    opacity: 0.4;
  }

  .content {
    position: relative;
    z-index: 111;
  }



}